@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#root {
  display: flex;
  flex-wrap: wrap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "NanumSquareNeo-Variable";
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "NanumSquareNeo-Variable";
  width: 100dvw;
  height: 100dvh;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main {
  width: 90dvw;
  height: calc(100dvh - 50px);
  box-sizing: border-box;
  padding: 20px;
  overflow: scroll;
}
main::-webkit-scrollbar {
  display: none;
}
article {
  animation: openModal 1s ease;
}
section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
section::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

button,
input,
select,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
button {
  background-color: transparent;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
